:root {
  --green: #397027;
  --gray: gray;
  --dark-green: #264c19;
}

.background-green {
  background-color: var(--green) !important;
}
.background-gray {
  background-color: var(--gray) !important;
}

.subsection .card .card-body {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
}
